Notes
llvm-pass-demo/.vscode
*/build/*
*/include/*
LatexNotes/Part1/*
!LatexNotes/Part1/*.pdf 
LatexNotes/Part2/*
!LatexNotes/Part2/*.pdf
LatexNotes/ClassNotes/Thursday20Feb/*
!LatexNotes/ClassNotes/Thursday20Feb/*.pdf